<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
	<title>Artista</title>
</head>

<body>
	<nav>
		<p class="titolo">Rome Arena</p>
	</nav>

	<div th:if="${artista}" th:object="${artista}" style="display: flex; justify-content: center; padding: 5%;">
		<div class="box" style="display: flex;">
			<div th:if="${artista.immagine}!=null">
				<img th:src="@{${'/images/'+artista.immagine}}" />
			</div>
			<div th:if="${artista.immagine}==null and ${credentials.role}=='ADMIN'">
				
				 <form th:action="@{'/admin/addImage/'+ ${artista.id}}" method="POST"  enctype="multipart/form-data">
					<input type="file" name="immagine"/>
					<span><button type="submit" th:text="#{invio}">Invio</button></span>
				</form>
			</div>
			<div class="info">
				Nome:<span th:text="*{nome}">qui-va-nome</span><br>
				Cognome:<span th:text="*{cognome}">qui-va-cognome</span><br>
				Data di Nascita:<span th:text="*{dataDiNascita}">qui-va-dataNascita</span><br>
				Luogo di Nascita:<span th:text="*{luogoDiNascita}">qui-va-luogoNascita</span><br>

			</div>
		</div>
		<div class="box" style="width: 400px;">
			<h1>Le canzoni</h1>
			
				<ul>
					<li th:each="canzone: ${canzoniArtista}">
						<a href="canzone.html" th:href="@{'/canzone' + '/' + ${canzone.id}}" th:text="|${canzone.titolo}|"
							th:value="${canzone.id}"></a>
					</li>
				</ul>
			
			<div th:unless="${artista}">Non esiste</div>
		</div>
	</div>
	<div><a href="/default"><button class="sub-button"
				style="margin-top: 19px;">Home</button></a></div>

</body>

</html>