<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
	<title>Inserisci Canzone</title>
</head>

<body>
	<nav>
		<p class="titolo">ROME ARENA</p>
	</nav>
	<form  th:action="@{/admin/canzone}" method="POST" th:object="${canzone}">
		<h4 class="titolo">Inserisci i dati di una canzone</h4>
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div style="text-align: right;margin:0 auto; margin-right:40%;">
			<div>
				<span class="campo-form">Titolo:</span>
				<span><input type="text" th:field="*{titolo}" /></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>
			
	
			<div>
				<span class="campo-form">Anno:</span>
				<span><input type="text" th:field="*{annoDiRealizzazione}" /></span>
			</div>
			<div>
				<span class="campo-form">Artista:</span>
				<select class="input2" name="artista" roleId="artista" id="artista" th:field="*{artista}">
					<option value="">---Artista---</option>
					<option th:each="artista : ${artisti}" th:value="${artista.id}" th:text="${artista.nome} +' '+ ${artista.cognome}">
					</option>
				</select>
			</div>
			<div style="margin-top:0.5%;">
				<span class="campo-form">Testo:</span>
				<span><textarea type="text" th:field="*{testo}" style="padding-bottom:15%; width:21%;"></textarea></span>
				<span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></span>
			</div>
			<br>
			
		</div>
		<div>
			<span><button type="submit" class="sub-button"th:text="#{invio}">Invio</button></span>
			<span><button type="reset" class="sub-button"th:text="#{cancella}">Cancella</button></span>
			<span><a href="/admin/adminPanel"><button type="button" class="sub-button"th:text="#{indietro}">Indietro</button></a></span>
		</div>
	</form>

	
</body>

</html>